VITE_FIREBASE_API_KEY=AIzaSyD-ibW9NDncdDUxQ9nfTQn5n3TK51hi8u8
VITE_FIREBASE_AUTH_DOMAIN=my-book-store-21046.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=my-book-store-21046
VITE_FIREBASE_STORAGE_BUCKET=my-book-store-21046.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=721896573692
VITE_FIREBASE_APP_ID=1:721896573692:web:268d0cc3f989df3d5d6579